.container.container--big
  footer.footer#s-footer
    .footer-content
      .footer-content__logo
        img(src="" data="static/img/logos/footer-logo.png")
        | Cesis Creative
      .footer-content__rights © 2015 - 2017 Tranmautritam Team. Cesis Creative demo for Cesis WordPress Theme.
      include ../modules/social-links
    .footer-news
      .footer-news__title Subscribe Newsletter
      form.footer-news-form(action="#")
        .footer-news-form__email-wrapper
          input.footer-news-form__email(placeholder="Enter your email")
        button.footer-news-form__button(type="submit"): img(src="", alt="arrow-right" data="static/img/icons/arrow-submit.png")