header#s-header
  nav.nav-main
    ul.menu-main
      li.menu-main__item: a.menu-main__link.menu-main__link--active All
      li.menu-main__item: a.menu-main__link Web design
      li.menu-main__item: a.menu-main__link Interaction
      li.menu-main__item: a.menu-main__link Application
      li.menu-main__item: a.menu-main__link Branding
      li.menu-main__item: a.menu-main__link Graphic Design
      li.menu-main__item: a.menu-main__link Photograph