main#s-main
  .container.container--big
    .works
      .article
        .article__category Photography
        h4.article__title Canon Microless Pack
      .article
        .article__category Branding
        h4.article__title North Oxford Logo Design
      .article
        .article__category Applications
        h4.article__title North Oxford Gymnastic
      .article
        .article__category Web Design
        h4.article__title Cesis Fashion
      .article
        .article__category Branding
        h4.article__title Kinfolk Brochure
      .article
        .article__category Photography
        h4.article__title Creative Design
      .article
        .article__category Interaction
        h4.article__title Cesis Fashion
      .article
        .article__category Photography
        h4.article__title Crazy Fashion
      .article
        .article__category Branding
        h4.article__title Don’t Just Stand There
    button.cesis-btn.button-view-all View all
