section#s-partners
  .container.container--big
    .partners
      .partners__item: img(src="" alt="Scandinavian" data="static/img/partners/partners-1.png")
      .partners__item: img(src="", alt="Copenhagen" data="static/img/partners/partners-2.png")
      .partners__item: img(src="", alt="Scnadinavian Furniture", data="static/img/partners/partners-3.png")
      .partners__item: img(src="", alt="Helsinki" data="static/img/partners/partners-4.png")
      .partners__item: img(src="", alt="Eriksson" data="static/img/partners/partners-5.png")
      .partners__item: img(src="", alt="Helsinki" data="static/img/partners/partners-6.png")
      .partners__item: img(src="", alt="helsinki" data="static/img/partners/partners-7.png")
      .partners__item.partners__item--fixed: img(src="", alt="Golden grid" data="static/img/partners/partners-8.png")
      .partners__item: img(src="" alt="G" data="static/img/partners/partners-9.png")
      .partners__item: img(src="", alt="Brooklyn" data="static/img/partners/partners-10.png")