.prices-wrapper
  .container
    .prices-intro
      h3.title-tertiary.prices-intro__title Select your plans
      .prices-intro__text Creating a website has never been this easy with Cesis Theme
    .prices-container
      .price
        .price__image
        .price__name Personal Project
        ul.price-list
          li.price-list__item Logo Design
          li.price-list__item Brochure Template
          li.price-list__item Web Design
          li.price-list__item.price-list__item--inactive WordPress Development
          li.price-list__item.price-list__item--inactive Behance Presentation
          li.price-list__item.price-list__item--inactive Dribbble Shots
          li.price-list__item 2 Revisions
          li.price-list__item Support via Email
        button.price__button from $999
      .price
        .price__image.price__image--active
        .price__name Personal Project
        ul.price-list
          li.price-list__item Logo Design
          li.price-list__item Brochure Template
          li.price-list__item Web Design
          li.price-list__item WordPress Development
          li.price-list__item.price-list__item--inactive Behance Presentation
          li.price-list__item.price-list__item--inactive Dribbble Shots
          li.price-list__item 2 Revisions
          li.price-list__item Support via Email
        button.price__button from $999
      .price
        .price__image
        .price__name Personal Project
        ul.price-list
          li.price-list__item Logo Design
          li.price-list__item Brochure Template
          li.price-list__item Web Design
          li.price-list__item WordPress Development
          li.price-list__item Behance Presentation
          li.price-list__item Dribbble Shots
          li.price-list__item 2 Revisions
          li.price-list__item Support via Email
        button.price__button from $999