.container
    .share
        h3.share__title Share this project
        nav.share__navigation
            ul.share-menu
                li.share-menu__item
                    a.share-menu__link
                        i.fab.fa-twitter.share-menu__icon 
                        span Twitter
                li.share-menu__item
                    a.share-menu__link
                        i.fab.fa-instagram.share-menu__icon 
                        span Instagram
                li.share-menu__item
                    a.share-menu__link
                        i.fab.fa-facebook-f.share-menu__icon 
                        span Facebook
                li.share-menu__item
                    a.share-menu__link
                        i.fab.fa-pinterest.share-menu__icon 
                        span Pinterest