article.insight
    .insight__prev
        button.insight__resize: img(src="", alt="Resize", data="static/img/resize.png")
    .insight__content
        .insight__title Blue inspired content to kick off the new year
        .insight__date 17 May 2017
        .insight__text Greenery is the official Pantone color for 2017 so tocelebrate we invited our community members to share their favorite content across the entire ecosystem based... on the color green.