- var activePage = {home: false,about: false, contact: false, getStarted: false, portfolio: false, blog: false, singleBlog: false, services: false, singlePortfolio: true}


if activePage.about
  include pages/about

if activePage.home
  include pages/home

if activePage.contact
  include pages/contact

if activePage.getStarted
  include pages/get-started

if activePage.portfolio
  include pages/portfolio

if activePage.blog
  include pages/blog

if activePage.singleBlog
  include pages/single-blog

if activePage.services
  include pages/services

if activePage.singlePortfolio
  include pages/single-portfolio